ul{
	list-style-type:none;
	margin:0;
	padding: 0;
	border-bottom: 1px solid white;
}
a, a:hover{
	text-decoration: none;
	color: rgba(247, 247,249,1);
	font-family: 'Open Sans', sans-serif;
}
form a, form a:hover, form label{
	color: #6d7274;
}
/*TIPOGRAFIA*/
h1,h2{
	font-family: 'Open Sans', sans-serif;
	margin-top:0.5em;
	text-align: center;
}
h1{
	font-size: 3.5em;
	font-weight: 600;
}
h2{
	font-size:1.7em;
}
form h2{
	font-weight: 600;
	text-align: left;
}
form h2, form p, form label, form a{
	color: rgba(0,114,121,1);
}
::-webkit-input-placeholder{
	color: rgba(0,114,121,1);
}
.main h3{
	font-size: 1.5em;
	color: rgba(89,110,117,1); /*azul grisáceo*/
}

p, a{
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
#second, #third, footer{
	text-align: center;
}
input[type="submit"]{
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	color: white; 
	font-weight: 600;
	border:1px solid white;
}
footer p{
	color: rgba(247, 247,249,1);
}

/*COLORES DE FONDO*/
/*celeste*/
.color1{
	background-color: rgba(0,178,202,1);
}
/*coral*/
.color2{
	background-color: rgba(231,76,60,1);
}
/*turquesa*/
.color3{
	background-color: rgba(0,114,121,1);
}
/*casi blanco*/
.color4{
	background-color: rgba(247, 247,249,.5);
}
/*violeta*/
.color5{
	background-color: rgba(96,36,131,1);
}

.degrade{  
  background: -webkit-linear-gradient(45deg, #d9d5d2 20%, #FFFFFF 80%); /* Chrome 10+, Saf5.1+ */
  background:    -moz-linear-gradient(45deg, #d9d5d2 20%, #FFFFFF 80%); /* FF3.6+ */
  background:     -ms-linear-gradient(45deg, #d9d5d2 20%, #FFFFFF 80%); /* IE10 */
  background:      -o-linear-gradient(45deg, #d9d5d2 20%, #FFFFFF 80%); /* Opera 11.10+ */
  background:         linear-gradient(45deg, #d9d5d2 20%, #FFFFFF 80%); /* W3C */        
}
.degrade2{
  background: url(../img/whitet.png); 
}

/*detalles sexys*/

.form{
	border: 1px solid rgba(0,114,121,1);
}
.producto{
	border: 1px solid rgba(247, 247,249,.5);
}

/*Grilla*/
input{
	display:block;
	padding:0.5em;
	margin:0.5em;
	border-radius:2px;
	border:0;
}
#mensaje{
	height: 5em;
}
label{
	display:block;
}
header{
	height: auto; 
}
.derecha{
	height: 100%;
}

.form{
	padding-bottom:2em;
}
.izquierda2{
	position: absolute; 
	top: 1em; 
	left:0;
}

/*slide*/
#owl-demo .item img{
    display: block;
    width: 100%;
    height: auto;
}