Body {
	border-top: 7px solid #333333;
	margin: 0px;
	padding: 0px;
}

#banner {
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #99cccc;
}

#pagecontainer {
	width: 850px;
	padding: 20px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	height: 850px;
}

A:link, A:visited, A:active { 
	text-decoration: none;
	color:#333333;

 }

h1 {
	font-size:72px;
	text-align:center;
	padding-right:15px;
	color:#333333;
	width: 500px;
	vertical-align: text-top;
}

h2 {
	font-size:36px;
	background-color: #99cccc;
	border: 2px solid #333333;
	color: #333333;	
	text-align:center;
	width:300px;
}

h3 {
	font-size:36px;
	text-align:center;
	color: #333333;
}

#telefono {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #003333;
	width:300px;
	height:135px;
	text-align: center;
	float: right;
	margin-top: 20px;
	margin-right: 30px;
}

#header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000000;
	margin-right: 0px;
	margin-left: 0px;
	text-align:right;
	float: left;
	width: 500px;
}


#page-wrap {
	width: 460px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}


#bottom {
	width: 100%;
	height:400px;
	padding-top: 20px;
	padding-right: 0px;
	padding-left: 0px;
	margin-left: auto;
	margin-top: 30px;
	background-color: #99cccc;
	float: left;
	margin-bottom:30px;
	border-top: 7px solid #333333;
}


#contact-area {
	width: 400px;
	font-family: Helvetica, sans-serif;
	height:auto;
	height:360px;
	float:right;
	margin-top:0px;
	margin-bottom:30px;
	background-color: #99cccc;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 210px;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;

}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	align: center;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
}

#info {
	float: right;
	height: 350px;
	width: 400px;
	padding-top:30px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 19px;
	font-weight: bold;
	color: #666666;
}


#footer {
	padding: 15px;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size: 16px;
	color: #666666;
	width: 850px;
	height: 70px;
	margin-top: 25px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0px;
	text-align: center;
	float:left;
}	

#links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	border-bottom: 7px solid #ccc;
	padding: 0px;
}

iframe {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

.bandas {
	background-image: url(background4.png);
	background-repeat: repeat-x;
	height: 25px;
	width: 850px;
}

.bandas2 {
	background-image: url(background4.png);
	background-repeat: repeat-x;
	height: 25px;
	width: 100%;
}
