Body {
	margin: 0px;
	padding: 0px;
	background-image: url(imagenes/background6.png);
	background-repeat: repeat;
	border-top-width: 7px;
	border-top-style: solid;
	border-top-color: #6E9489;
}

.pagecontainer {
	width: 800px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	height: 950px;
	background-image: url(imagenes/degrade4.jpg);
	background-repeat: repeat-x;
	border-top-style: solid;
	border-top-color: #6E9489;
	border-top-width: 7px;
	padding-top: 20px;
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 35px;
}

A:link, A:visited, A:active {
	text-decoration: none;

 }

h1 {
	font-size:40px;
	text-align:left;
	padding-right:15px;
	width: 465px;
	font-weight: bold;
	font-variant: normal;
	color: #41434A;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif
}

h2 {
	font-size:24px;
	color: #41434A;
	text-align:left;
	width:200px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	border-top-width: 2px;
	border-right-width: 2px;
	border-bottom-width: 2px;
	border-left-width: 2px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #252F3B;
	border-right-color: #252F3B;
	border-bottom-color: #252F3B;
	border-left-color: #252F3B;
	margin-left: 0px;
	padding-left: 0px;
	
}

h3 {
	font-size:18px;
	text-align:left;
	color:  #41434A;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: lighter;
	padding-top:10px;
	line-height: 0px;
}

.Estilo2 {
	font-size: 10px;
	width: 300px;
	text-align: left;
	text-indent: 50px;
}


#left {
	height: auto;
	width: 350px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	float:left;
	margin-left: 20px;
}

#telefono {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #003333;
	width: 250px;
	height:135px;
	text-align: left;
	float:right;
	padding-left: 0px;
	margin-top: 10px;
}

#info {
	height: 180px;
	width: 800px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	padding: 0px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: #877963;

}

#cajainfo3 A:link, A:visited, A:active, A:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color:#333333;
 }

#cajainfo1 {
	width: 300px;
	float: left;
	padding-left:20px;
	font-weight: normal;
}
#cajainfo2 {
	width: 300px;
	float: left;
	padding-left:20px;
	font-weight: normal;
}
#cajainfo3 {
	float: right;
	width: 100px;
	padding-left:0px;
	padding-right: 20px;
}


#header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000000;
	margin-right: auto;
	margin-left: auto;
	text-align:left;
	width: 480px;
	background-position: bottom;
	height: auto;
}


#page-wrap {
	width: 460px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}


#contact-area {
	width: 200px;
	font-family: Helvetica, sans-serif;
	height:auto !important;
	height:340px;
	margin-top:35px;
	margin-left:auto;
	margin-right:auto;
	padding-left: 9px;
	padding-right:60px;
	float:right;
	top: 0px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 210px;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	border: 2px solid #ccc;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#contact-area textarea {
	height: 85px;
}


#contact-area A:link, A:visited, A:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color:#333333;
 }


body {
	color: #003300;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	margin-left: 100px;
	margin-top:20px;
}

label {
	float: left;
	text-align: left;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 15px;
	font-weight: bold;
	color: #006325;
	font-size: 12px;
}

#footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color:#877963;
	width: 850px;
	height: 70px;
	margin-top: 25px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom: 0px;
	font-weight: bold;
}	

#links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #DADFD9;
	text-decoration: none;
	padding: 0px;
	width:800px;
	height:auto;
	float:none;
	margin-top: 10px;
	margin-right: auto;
	margin-left:auto;
	margin-bottom: 10px;
	border-bottom-style: none;
}

#links A:link, A:visited, A:active {
	color: #877963;
 }

	

iframe {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

.bandas {
	background-image: url(background4.png);
	background-repeat: repeat-x;
	height: 25px;
	width: 850px;
}

.bandas2 {
	background-image: url(background4.png);
	background-repeat: repeat-x;
	height: 25px;
	width: 100%;
}

#right {
	height: 150px;
	width: 480px;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	padding: 10px;
	margin-right: auto;
	margin-left: 0px;
	margin-top: 0px;
	border-top-style: none;
}

.boton {
	padding-top: 30px;
	padding-bottom: 0px;
	height: 30px;
	width: 160px;
	text-align:left;
	text-indent: 15px;
}

.boton A:link {
	text-decoration: none;
	color:#333333;
	padding-top:15px;
	padding-bottom:5px;
	width: 100%;
	height:auto;
}

.boton A:active {
	text-decoration: none;
	color:#333333;;
	padding-top:15px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right: 15px;
}

.boton A:visited {
	text-decoration: none;
	color:#333333;;
	padding-top:15px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right: 15px;
}

.boton A:hover {
	text-decoration: none;
	color:#333333;
	background-color:#F90;;
	padding-top:15px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right: 15px;
}


#caja1 {
	height: 150px;
	width: 160px;
	background-image:url(imagenes/separador.png);
	float: right;
	padding-top:10px;
	text-align: center;
	margin-left: 0px;
	background-repeat: no-repeat;
	background-position: left bottom;
}

#caja2 {
	height: 150px;
	width: 160px;
	background-image:url(imagenes/separador.png);
	float: right;
	padding-top:10px;
	background-position: left bottom;
	text-align: center;
	background-repeat: no-repeat;
}

#caja3 {
	height: 150px;
	width: 160px;
	background-image:url(imagenes/separador.png);
	float: right;
	padding-top:10px;
	background-repeat: no-repeat;
	background-position: left bottom;
	text-align: center;
}

#caja4 {
	height: 150px;
	width: 160px;
	background-image:url(imagenes/separador.png);
	float: left;
	padding-top:10px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: left bottom;
}

#caja5 {
	height: 150px;
	width: 160px;
	background-image:url(imagenes/separador.png);
	float: left;
	padding-top:10px;
	text-align: center;
	background-repeat: no-repeat;
	background-position: left bottom;
}
