@charset "utf-8";
/* CSS Document */
Body {
		background-image: url(img/fondoremeras.png);
}	

#header {
		background-image: url(img/bolsos/headers-10.png);
}

#right {
		background-image: url(img/bolsos/bolsos2.png);
}