@charset "utf-8";
/* CSS Document */
Body {
		background-image: url(img/fondoremeras.png);
}	

#header {
		background-image:url(img/camperas/headers-08.png);
}

#right {
		background-image:url(img/remeras/remeras.png);
}