Body {
	background-image: url(background3.png);
	background-repeat: repeat;
	border-top: 7px solid #FFA300;
	margin: 0px;
	padding: 0px;
		
}

#pagecontainer {
	width: 910px;
	padding: 20px;
	margin-top: 0px;
	margin-right: auto;
	margin-left: auto;
	background-color:#FFFFFF;
	height: 800px;	
}

A:link, A:visited, A:active { 
	text-decoration: none;
	color:#333333;

 }

h1 {
	font-size:100px;
	text-align:center;
	padding-right:15px;
	color:#999999;
	width: 500px;
	vertical-align: text-top;
}

h2 {
	font-size:36px;
	background-color: #FFA300;
	border: 2px solid #ccc;
	color: #FFFFFF;	
	text-align:center;
	width:500px;
}

h3 {
	font-size:36px;
	text-align:center;
}

#telefono {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #003333;
	width:500px;
	text-align: center;
	float: none;
	height:auto;
}

#header {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #000000;
	height:auto;
	background-repeat: no-repeat;
	background-position: left top;
	margin-right: 0px;
	margin-left: 0px;
	text-align:right;
	float: left;
	width: 500px;
	background-image: url(imagenes/paraguasgolf_02.gif);
}


#page-wrap {
	width: 460px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}


#bottom {
	height:auto;
	padding-top: 20px;
	border-top: 7px solid #FFA300;
	margin: 15px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	background-color: #CCCCCC;
}


#contact-area {
	width: 350px;
	font-family: Helvetica, sans-serif;
	height:auto;
	float:right;
	margin-top:30px;
	background-color: #FFCC66;
	padding-top: 30px;
	padding-left: 15px;
	padding-right: 15px;
}

#contact-area input, #contact-area textarea {
	padding: 5px;
	width: 220px;
	font-family: Helvetica, sans-serif;
	font-size: 1em;
	margin: 0px 0px 10px 0px;
	border: 2px solid #ccc;

}

#contact-area textarea {
	height: 90px;
}

#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	float: right;
}

label {
	float: left;
	text-align: right;
	margin-right: 15px;
	width: 100px;
	padding-top: 5px;
	font-size: 1em;
}

#footer {
	padding: 0px;
	font-family: "Trebuchet MS", arial, sans-serif;
	font-size: 16px;
	color: #666666;
	width: 900px;
	margin-top: 15px;
	margin-bottom: 10px;
	background-color: #FFFFFF;
	text-align: center;
	float: left;
	height: auto;	
}	
#links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	border-bottom: 7px solid #ccc;
	padding: 0px;
}
 iframe {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}
