body {
	margin: 0px;
	padding: 0px;
	background-color: #030;
	background-image: url(imagenes/remerasc.png);
}

@font-face {
    font-family: TrebuchetMs;
    src: url(http://www.gylenterprise.com.ar/landing/otros/trebuc.ttf);
}

.caja {
	margin: 5px;
}

.linksb a:hover, a:active  {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:12px;
}

.linksb a:link, a:visited  {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:12px;
}



#pagecontainer #top {
	background-repeat: no-repeat;
	background-position: right center;
	width: 867px;
	height: 50px;
	background-image: url(../otros/logoc.png);
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
}

#pagecontainer #top #titulo {
	font-family: TrebuchetMs, Arial, Helvetica, sans-serif;
	font-size: 24px;
	color: #CCC;
	text-align:left;
	height:35px;
	padding-top:10px;
	font-weight: normal;
	background-image:url(imagenes/titulo-11.png);
	background-repeat: no-repeat;
	background-position: left center;
}

.linksa a:link, a:visited{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:21px;
	color: #FFF;
	height: 45px;
}

.linksa a:hover, a:active  {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-decoration:none;
	font-size:21px;
	color: #FFA300;
	height: 45px;
}

#pagecontainer #pagina {
	widht: 850px;
	height:640px;
	
}	

.main {
	background-color: #FFF;
	border: 2px solid #333;
	-webkit-box-shadow: -2px 2px 4px 3px rgba(0, 0, 0, 0.3);
	box-shadow: -2px 2px 4px 3px rgba(0, 0, 0, 0.3);
	padding-top: 10px;
	
}	

#pagecontainer {
	width: 867px;
	height: 750px;
	margin-top: 0px;
	font-family: TrebuchetMs, Arial, Helvetica, sans-serif;
	margin-right: auto;
	margin-left: auto;
}


#pagecontainer #pagina #columnaderecha {
	width: 340px;
	float:right;
	border-left-width: thin;
	border-left-style: solid;
	border-left-color: #DDE3DD;	
}

#pagecontainer #pagina #columnaizquierda {
	width: 515px;
	float:left;
}

#pagecontainer #pagina #columnaizquierda #telefono {
	float:left;
	width: 504px;
	height: auto;
	text-align: center;
	color: #000000;
	background-image: url(../otros/contactheader2-04.png);
	background-repeat: no-repeat;
	background-position: center;
	padding-bottom: 25px;
	border-top-color: #FFA300;
	border-right-color: #FFA300;
	border-bottom-color: #FFA300;
	border-left-color: #FFA300;
}

#pagecontainer #pagina #columnaizquierda #telefono a:link,  a:active{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:400;
	font-size: 13px;
	line-height: 20px;
	text-decoration:none;
	color: #666666;
}

#pagecontainer #pagina #columnaizquierda #telefono a:hover, a:visited {
	color: #FFA300;
}

h1 {
	font-family: TrebuchetMS, Arial, Helvetica, sans-serif;
	font-size: 34px;
	font-weight: bold;
	color: #000000;
}

h2 {
	font-family: TrebuchetMS, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}


#diferenciales {
	width: 330px;
	height: 160px;
	float:right;
	background-image: url(../otros/difheader-02.png);
	background-repeat: no-repeat;
	background-position: top;
	padding-top: 50px;
}

#diferenciales ul {
	 list-style-type: disc;
	 margin-left:20px;
}




#pagecontainer #pagina #columnaderecha #infogral{
	width: 320px;
	height: 25px;
	float:right;
	font-weight: bold;
	font-size: 12px;
	padding-top: 5px;
	color: #006325;
	background-color: #DDE3DD;
	
}

#pagecontainer #pagina .texto {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 20px;
	padding-left:10px;
}


#page-wrap {
	width: 460px;
	background: white;
	padding: 20px 50px 20px 50px;
	margin: 20px auto;
	min-height: 500px;
	height: auto !important;
	height: 500px;
}


#contact-area {
	width: 320px;
	font-family: TrebuchetMS, Helvetica, sans-serif;
	height:auto !important;
	height:510px;
	float:right;
	padding-left: 10px;
	padding-top:50px;
	background-image: url(../marroquineria/imagenes/contactheader-02.png);
	background-position: left top;
	background-repeat: no-repeat;
}

#contact-area input, #contact-area textarea {
	width: 285px;
	font-family: Helvetica, sans-serif;
	font-size: 10px;
	border: 2px solid #ccc;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}

#contact-area textarea {
	height: 50px;
	text-align:left;
	font-size: 10px;
}


#contact-area a:link, a:visited, a:active, a:hover {
	font-family: TrebuchetMs, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	text-decoration:none;
	margin-top:5px;
 }


#contact-area textarea:focus, #contact-area input:focus {
	border: 2px solid #900;
}

#contact-area input.submit-button {
	width: 100px;
	margin-top:20px;
	background-color: #FFA300;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
	float: left;
	font-size:14px;
}

label {
	float: left;
	text-align: left;
	width: 100px;
	padding-top: 5px;
	font-size: 15px;
	color: #000;
	font-size: 12px;
	font-family: TrebuchetMS, Arial, Helvetica, sans-serif;
	font-weight: normal;
}

#pagecontainer #links {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color:#EE710D;  
	text-decoration: none;
	padding: 0px;
	width:800px;
	height:auto;
	float:right;
	margin-top: 0px;
	margin-right: auto;
	margin-left:auto;
	margin-bottom: 20px;
	border-bottom-style: none;
	text-align: right;
}


#pagecontainer #top #boxes {
	float: right;
}

.box {
	height: 35px;
	width: 35px;
	float: left;
}

#box1 {
	background-image: url(../otros/facebook2.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
}

#box2 {
	background-image: url(../otros/linkedin2.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
}

#box3 {
	background-image: url(../otros/wordpress2.png);
	background-repeat: no-repeat;
	background-position: center center;
	float: right;
}

#box4 {
	height: 25px;
	width: auto;
	float: right;
	text-align: center;
	padding-top: 20px;
}


#slide {
	width: 502px;
	height:427px;
	float: left;
	background-color:#FFF;
	
}
